build/
out/
.vs/
*.obj
*.o
*.yaml
*.exe
*.exe.recipe
*.tlog/
*.lastbuildstate
*.vcxproj
*.vcxproj.filters
*.slnx
*.db
*.sqlite
*.cache
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
Testing/

.DS_Store
Thumbs.db
desktop.ini

*.swp
*.swo
*~
.vscode/
.idea/

.workbuddy/

*_autogen/
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
"*.lib" 
"*.a" 
"third_party/zstd/static/" 
