# 构建产物
build/
out/
bin/
obj/
Debug/
Release/
*.exe
*.pdb
*.obj
*.o
*.bak

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
*_autogen/
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Testing/

# VS / IDE
.vs/
*.vcxproj
*.vcxproj.filters
*.vc.db
*.ipch
*.opendb
*.tlog/
*.lastbuildstate
*.exe.recipe
*.user
*.suo
.vscode/
.idea/

# 临时/系统
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*~
*.db
*.sqlite
*.cache

# 第三方库构建产物
third_party/smelibs/
third_party/libsodium/**/Debug/
third_party/libsodium/**/Release/
third_party/libsodium/**/ltcg/
third_party/yaml-cpp/lib/
third_party/zstd/static/
third_party/**/*.lib
third_party/**/*.dll
third_party/**/*.pdb

# 项目特定
.workbuddy/
The Next Release/
scripts/
fileencryptor.yaml